/* --------------------- */
/* ------ GENERAL ------ */
/* --------------------- */

body {
  /* Utilisation de la font importée */
  font-family: TS-Reg, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h1 {
  font-family: TS-Med;
  font-size: 50px;
}

h2 {
  font-family: TS-Med;
  font-size: 28px;
}

h3 {
  font-family: TS-Med;
  font-size: 32px;
}

h4 {
  font-family: TS-Med;
  font-size: 24px;
}

h5 {
  font-family: TS-Med;
  font-size: 18px;
}

button {
  height: 40px;
  padding: 6px 20px;
  background-color: black;
  border: black;
  color: white;
  border-radius: 20px;
  font-family: TS-Reg, sans-serif;
  font-size: 15px;
}

button:hover {
  opacity: 75%;
}

section {
  margin-bottom: 50px;
}

/* --------------------- */
/* ------- HEADER ------ */
/* --------------------- */

header {
  display: flex;
  background-color: white;
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  width: 100vw;
  border-bottom: solid 1px lightgrey;
  z-index: 1;
}

header .macro-container {
  display: flex;
  width: 1136px;
  height: 60px;
  margin: 0 auto;
  justify-content: space-between;
}

header .left-container {
  display: flex;
  flex-direction: row;
}

header div img {
  display: flex;
  width: 200px;
  justify-content: center;
  align-content: center;
}

header nav {
  display: flex;
  flex-direction: row;
  gap: 6px;
  align-items: center;
}

header nav menu {
  display: flex;
  flex-direction: row;
  gap: 5px;
  padding-right: 6px;
}

header .menuitem {
  display: flex;
  flex-direction: row;
  padding: 6px 10px;
  height: 40px;
  gap: 6px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

header .menuitem:hover {
  background-color: lightgrey;
}

/* --------------------- */
/* -------- MAIN ------- */
/* --------------------- */

main {
  width: 1136px;
  margin: 100px auto;
  background-color: #fff;
  justify-content: space-between;
}

h1 span {
  color: #ff5d5d;
}

/* ------- SUBMENU ------ */

main .submenu {
  display: flex;
  margin: 35px 0 25px 0;
  gap: 10px;
}

main .submenu div {
  display: flex;
  border: solid;
  border-color: black;
  border-width: 1px;
  border-radius: 10px;
  padding: 20px 15px;
  flex: 1;
  justify-content: space-between;
  margin: 0px 0px 0 0;
}

main .submenu div:hover {
  background-color: black;
  color: white;
}

/* ------- PICTURES ------ */

main picture {
  display: flex;
}

main picture .column1 img {
  width: 654px;
  height: 430px;
  object-fit: cover;
  margin-right: 2px;
}

.column2 {
  display: flex;
  flex-direction: column;
}

.column2 img {
  width: 480px;
  height: 214px;
  object-fit: cover;
}

.column2 :first-child {
  margin-bottom: 2px;
}

/* ----- PICTURES NAV ---- */

main .pictures-nav {
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}

main .pictures-nav .left-container {
  display: flex;
  justify-content: flex-start;
}

main .pictures-nav .left-container div {
  display: flex;
}

main .pictures-nav .left-container div i {
  margin: 0 6px;
}

main .pictures-nav {
  font-size: 12px;
}

/* --- 2 COLUMNS BLOCK --- */

main .two-columns-block {
  display: flex;
  margin-top: 20px;
  line-height: 1.3;
}

main .two-columns-block .left-column {
  flex: 3;
}

main .two-columns-block .left-column p {
  padding: 20px 100px 20px 0;
}

main .two-columns-block .right-column .red-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 450px;
  background-color: #fe5e5e;
  border-radius: 10px 10px 0 0;
  padding: 40px;
  gap: 20px;
}

main .two-columns-block .right-column img {
  width: 450px;
  height: 150px;
  object-fit: cover;
  border-radius: 0 0 10px 10px;
}

/* ---- FIRST SLIDER ---- */

section h2 {
  margin-bottom: 30px;
}

.slider-container {
  display: flex;
  height: 310px;
  width: 100%;
}

.slider-side {
  flex: 1;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 1.3;
  gap: 20px;
  margin: 0 20px 20px 0;
}

.slider-side a {
  font-size: 16px;
  text-decoration: underline;
}

.slider {
  flex: 3;
  display: flex;
  overflow: scroll hidden;
}

.slider-block {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  height: 310px;
  width: 270px;
  margin-right: 15px;
  gap: 10px;
  line-height: 1.2;
  position: relative;
}

.slider-block .circle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 100%;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 10px;
  right: 10px;
  font-size: 16px;
}

.slider-block .badge {
  position: absolute;
  height: 40px;
  width: 40px;
  top: 155px;
  left: 2px;
  font-size: 16px;
}

.slider-block img .photo {
  object-fit: cover;
  object-fit: cover;
}

.slider-block p {
  font-size: 14px;
}

/* --- SPE 2nd SLIDER --- */

.slider-container-2 {
  display: flex;
  height: 350px;
  width: 100%;
}

/* --------------------- */
/* ------- FOOTER ------ */
/* --------------------- */

footer {
  margin: 20px auto 0px;
  display: flex;
  background-color: #faf1ed;
  justify-content: space-between;
}

footer .container {
  width: 1024px;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 40px;
  margin-right: 20px;
}

footer a {
  font-family: TS-Med;
}
